# Google Earth Engine
GEE_SERVICE_ACCOUNT=trigessalama-sa@trigessalama.iam.gserviceaccount.com
GEE_PRIVATE_KEY_PATH=C:/Users/ASUS/Desktop/grand projet pfe/trig_essalama_ai/keys/gee-service-account.json
GEE_PROJECT=trigessalama
GOOGLE_CLOUD_PROJECT=trigessalama

# Zone d'étude
ZONE_NAME=Tunisie
ZONE_XMIN=8.0
ZONE_YMIN=30.0
ZONE_XMAX=11.8
ZONE_YMAX=37.5

# Dates
DATE_START=2024-01-01
DATE_END=2024-12-31

# API timing
AUTO_REFRESH_SECONDS=300
ANALYSE_TIMEOUT_SECONDS=0
# Put 0 to disable timeout completely.
ANALYSIS_MAX_RECORDS=300